@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ancient";
  src: url("../public/Fonts/Ancient\ Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
}

body {  
  height: 100%;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #E1E1E6;
  background: linear-gradient(#01447B 10%, #002543 50%);
}

body, input, textarea, button {
   font: 400 1rem "Kode Mono", monospace;
}
